@{
    ViewData["Title"] = "Достижения";
}
<div class="Achievements">
    <h1>Достижения</h1>
    @* <img class="Razdelitel" src="images/razd (1).png" alt="Разделитель" /> *@

    <div class="achievements-gallery">
        <img src="~/images/dost1.png" alt="Достижение 1" />
        <img src="~/images/dost2.png" alt="Достижение 2" />
    </div>
</div>