@{
    ViewData["Title"] = "Главная";
}

<div class="About">
    <div class="AboutContent">
        <h2>Министерство образования и молодежной политики Свердловской области</h2>
        <h1>Хворенков Антон Олегович</h1>
        <h3>Студент колледжа "ЕКТС"</h3>
        <h3>Специальность: "Информационные системы и программирование" </h3>
        <h2>Группа: ПР-31</h2>
        <div class="MyPhoto">
            <img src="images/Me.png" alt="Мое фото"/>
        </div>
    </div>

</div>
<div class="AboutMe">
    <h1>О себе</h1>
    <img class="Razdelitel" src="images/razd (1).png" alt="Разделитель" />

    <div class="Learnings">
        <ul>
            <li>Основные этапы разработки ПО</li>
            <li>Системы управления базами данных</li>
            <li>Системы контроля версий Git</li>
            <li>Оформление документации на программные продукты</li>
            <li>Основные принципы технологии структурного и объектно-ориентированного программирования</li>
        </ul>
    </div>
    <img class="Razdelitel" src="images/razd (1).png" alt="Разделитель" />

    <div class="Skills">
        <ul>
            <li>Использовать современные средства поиска, анализа и интерпретации информации и информационные технологии для выполнения задач профессиональной деятельности</li>
            <li>Разрабатывать программные модули в соответствии с техническим заданием;</li>
            <li>Проектировать базу данных на основе анализа предметной области;</li>
            <li>Осуществлять разработку тестовых наборов и тестовых сценариев для программного обеспечения.</li>
        </ul>
    </div>
    <img class="Razdelitel" src="images/razd (1).png" alt="Разделитель" />

    <div class="qualitys">
        <ul>
            <li>Внимание к деталям</li>
            <li>Коммуникабельность</li>
            <li>Ответственность</li>
            <li>Следование требованиям.</li>
            <li>Организованность</li>
        </ul>
    </div>
    <img class="Razdelitel" src="images/razd (1).png" alt="Разделитель" />
    
    <div class="experience">
        <ul>
            <li>Умение работать в Visual Studio, Android Studio, Visual Code, PyCharm, Open Server Panel</li>
            <li>Умение работать в любых графических редакторах</li>
            <li>Владение языками Kotlin, C#, C++, Paskal, PHP, Sql</li>
        </ul>
    </div> 

</div>
<div class="Competition">
    <div class="List">
        <details>
            <summary>
                На специальности 09.02.07 "Информационные системы и программирование" для квалификации программист формируются следующие компетенции:
            </summary>
            <ul>
                <li>ОК 01 Выбирать способы решения задач профессиональной деятельности применительно к различным контекстам</li>
                <li>ОК 02 Использовать современные средства поиска, анализа и интерпретации информации и информационные технологии для выполнения задач профессиональной деятельности</li>
                <li>ОК 03 Планировать и реализовывать собственное профессиональное и личностное развитие, предпринимательскую деятельность в профессиональной сфере, использовать знания по правовой и финансовой грамотности в различных жизненных ситуациях</li>
                <li>ОК 04 Эффективно взаимодействовать и работать в коллективе и команде</li>
                <li>ОК 05 Осуществлять устную и письменную коммуникацию на государственном языке Российской Федерации с учетом особенностей социального и культурного контекста</li>
                <li>ОК 06 Проявлять гражданско-патриотическую позицию, демонстрировать осознанное поведение на основе традиционных российских духовно-нравственных ценностей, в том числе с учетом гармонизации межнациональных и межрелигиозных отношений, применять стандарты антикоррупционного поведения</li>
                <li>ОК 07 Содействовать сохранению окружающей среды, ресурсосбережению, применять знания об изменении климата, принципы бережливого производства, эффективно действовать в чрезвычайных ситуациях</li>
                <li>ОК 08 Использовать средства физической культуры для сохранения и укрепления здоровья в процессе профессиональной деятельности и поддержания необходимого уровня физической подготовленности</li>
                <li>ОК 09 Пользоваться профессиональной документацией на государственном и иностранном языках</li>
                <li>ПК 1.1. Формировать алгоритмы разработки программных модулей в соответствии с техническим заданием</li>
                <li>ПК 1.2. Разрабатывать программные модули в соответствии с техническим заданием</li>
                <li>ПК 1.3. Выполнять отладку программных модулей с использованием специализированных программных средств</li>
                <li>ПК 1.4. Выполнять тестирование программных модулей</li>
                <li>ПК 1.5. Осуществлять рефакторинг и оптимизацию программного кода</li>
                <li>ПК 1.6. Разрабатывать модули программного обеспечения для мобильных платформ</li>
                <li>ПК 2.1. Разрабатывать требования к программным модулям на основе анализа проектной и технической документации на предмет взаимодействия компонент</li>
                <li>ПК 2.2. Выполнять интеграцию модулей в программное обеспечение</li>
                <li>ПК 2.3. Выполнять отладку программного модуля с использованием специализированных программных средств</li>
                <li>ПК 2.4. Осуществлять разработку тестовых наборов и тестовых сценариев для программного обеспечения</li>
                <li>ПК 2.5. Производить инспектирование компонент программного обеспечения на предмет соответствия стандартам кодирования</li>
                <li>ПК 4.1. Осуществлять инсталляцию, настройку и обслуживание программного обеспечения компьютерных систем</li>
                <li>ПК 4.2. Осуществлять измерения эксплуатационных характеристик программного обеспечения компьютерных систем</li>
                <li>ПК 4.3. Выполнять работы по модификации отдельных компонент программного обеспечения в соответствии с потребностями заказчика</li>
                <li>ПК 4.4. Обеспечивать защиту программного обеспечения компьютерных систем программными средствами</li>
                <li>ПК 11.1. Осуществлять сбор, обработку и анализ информации для проектирования баз данных</li>
                <li>ПК 11.2. Проектировать базу данных на основе анализа предметной области</li>
                <li>ПК 11.3. Разрабатывать объекты базы данных в соответствии с результатами анализа предметной области</li>
                <li>ПК 11.4. Реализовывать базу данных в конкретной системе управления базами данных</li>
                <li>ПК 11.5. Администрировать базы данных</li>
                <li>ПК 11.6. Защищать информацию в базе данных с использованием технологии защиты информации</li>
                <li>ДПК 2.1 Использование системного анализа и методологий проектирования (например, унифицированного языка моделирования (Unified Modelling Language), программной платформы MVC (Model-View-Control), фреймворков, шаблонов проектирования)</li>
                <li>ДПК 2.2 Работа с системой контроля версий</li>
            </ul>
        </details>
        @* <h2>На специальности 09.02.07 "Информационные системы и программирование" для квалификации программист формируются следующие компетенции:</h2>
        <ul>
            <li>ОК 01 Выбирать способы решения задач профессиональной деятельности применительно к различным контекстам</li>
            <li>ОК 02 Использовать современные средства поиска, анализа и интерпретации информации и информационные технологии для выполнения задач профессиональной деятельности</li>
            <li>ОК 03 Планировать и реализовывать собственное профессиональное и личностное развитие, предпринимательскую деятельность в профессиональной сфере, использовать знания по правовой и финансовой грамотности в различных жизненных ситуациях</li>
            <li>ОК 04 Эффективно взаимодействовать и работать в коллективе и команде</li>
            <li>ОК 05 Осуществлять устную и письменную коммуникацию на государственном языке Российской Федерации с учетом особенностей социального и культурного контекста</li>
            <li>ОК 06 Проявлять гражданско-патриотическую позицию, демонстрировать осознанное поведение на основе традиционных российских духовно-нравственных ценностей, в том числе с учетом гармонизации межнациональных и межрелигиозных отношений, применять стандарты антикоррупционного поведения</li>
            <li>ОК 07 Содействовать сохранению окружающей среды, ресурсосбережению, применять знания об изменении климата, принципы бережливого производства, эффективно действовать в чрезвычайных ситуациях</li>
            <li>ОК 08 Использовать средства физической культуры для сохранения и укрепления здоровья в процессе профессиональной деятельности и поддержания необходимого уровня физической подготовленности</li>
            <li>ОК 09 Пользоваться профессиональной документацией на государственном и иностранном языках</li>
            <li>ПК 1.1. Формировать алгоритмы разработки программных модулей в соответствии с техническим заданием</li>
            <li>ПК 1.2. Разрабатывать программные модули в соответствии с техническим заданием</li>
            <li>ПК 1.3. Выполнять отладку программных модулей с использованием специализированных программных средств</li>
            <li>ПК 1.4. Выполнять тестирование программных модулей</li>
            <li>ПК 1.5. Осуществлять рефакторинг и оптимизацию программного кода</li>
            <li>ПК 1.6. Разрабатывать модули программного обеспечения для мобильных платформ</li>
            <li>ПК 2.1. Разрабатывать требования к программным модулям на основе анализа проектной и технической документации на предмет взаимодействия компонент</li>
            <li>ПК 2.2. Выполнять интеграцию модулей в программное обеспечение</li>
            <li>ПК 2.3. Выполнять отладку программного модуля с использованием специализированных программных средств</li>
            <li>ПК 2.4. Осуществлять разработку тестовых наборов и тестовых сценариев для программного обеспечения</li>
            <li>ПК 2.5. Производить инспектирование компонент программного обеспечения на предмет соответствия стандартам кодирования</li>
            <li>ПК 4.1. Осуществлять инсталляцию, настройку и обслуживание программного обеспечения компьютерных систем</li>
            <li>ПК 4.2. Осуществлять измерения эксплуатационных характеристик программного обеспечения компьютерных систем</li>
            <li>ПК 4.3. Выполнять работы по модификации отдельных компонент программного обеспечения в соответствии с потребностями заказчика</li>
            <li>ПК 4.4. Обеспечивать защиту программного обеспечения компьютерных систем программными средствами</li>
            <li>ПК 11.1. Осуществлять сбор, обработку и анализ информации для проектирования баз данных</li>
            <li>ПК 11.2. Проектировать базу данных на основе анализа предметной области</li>
            <li>ПК 11.3. Разрабатывать объекты базы данных в соответствии с результатами анализа предметной области</li>
            <li>ПК 11.4. Реализовывать базу данных в конкретной системе управления базами данных</li>
            <li>ПК 11.5. Администрировать базы данных</li>
            <li>ПК 11.6. Защищать информацию в базе данных с использованием технологии защиты информации</li>
            <li>ДПК 2.1 Использование системного анализа и методологий проектирования (например, унифицированного языка моделирования (Unified Modelling Language), программной платформы MVC (Model-View-Control), фреймворков, шаблонов проектирования)</li>
            <li>ДПК 2.2 Работа с системой контроля версий</li> *@
        </ul>
    </div>
</div>

 