@{
    ViewData["Title"] = "Мои работы";
}

<div class="Works">
    <h1>Мои работы</h1>
    @* <img class="Razdelitel" src="images/razd (1).png" alt="Разделитель" /> *@

    <div class="works-grid">
        <div class="work-card">
            <h3>Презентация 1 курс</h3>
            <p>Презентация за первый курс на тему ""</p>
            <a href="https://docs.google.com/presentation/d/1uqvfCWLLep79VoCRBCt6CWlnWVkpf0vf/edit?usp=sharing&ouid=101562871685954241568&rtpof=true&sd=true"
               class="work-link"
               >
                Смотреть презентацию
            </a>
        </div>
    </div>

    <p class="empty-message"></p>
</div>